<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabasePath" value="C:\\study\\CodeTracker1\db.sqlite" />
		<add key="ConnectionString" value="Data Source=db.sqlite" />
		<add key="EBPath" value="C:\\study\\CodeTracker1" />
		<add key="PCPath" value="C:\\Projects\\Tutorials\\CodeTracker\\CodeTracker1" />
	</appSettings>
</configuration>