<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DatabasePathPC" value="Data Source=C:\Projects\Tutorials\CodeTracker\CodeTracker1\db.sqlite" />
		<add key="DatabasePathEB" value="Data Source=C:\study\CodeTracker1\bin\Debug\net5.0\db.sqlite" />
	</appSettings>
</configuration>